__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
.git
.gitignore
.github
.pytest_cache
.coverage
htmlcov/
spark-warehouse/
metastore_db/
checkpoint/
data/raw/*
!data/raw/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
logs/*
!logs/.gitkeep
